<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Inscrit tes idées, ce qui te passe par la tête...</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Ajout d'idées</a>
</div>